block title
    title EEA database on climate change mitigation policies and measures in Europe &mdash; European Environment Agency

block extrajavascripts
    script(type='text/javascript', src='javascripts/pam.details.js')

block content
    if (data)
        +portal_breadcrumbs ("Climate change policies and measures in Europe", data.Name.value)
        h1= data.Name.value

        +detail_tables (sections, data, "", true)

    else
        div(class = "portalMessage errorMessage")
            span= "PAM with ID: "
            b= pamid 
            span= " does not exist"

    div(class="visualization-info")
        h3 Data sources
        a(href="http://www.eea.europa.eu/data-and-maps/data/climate-change-mitigation-policies-and-measures-1") Climate change mitigation policies and measures
        span  provided by 
        a(href="http://www.eea.europa.eu") European Environment Agency (EEA)
